@import url(https://fonts.googleapis.com/css?family=Marvel);

body {
    font-family:"Marvel",Helvetica,Arial,"sans-serif" !important;
    font-size:15px;
    padding-top: 50px;
}

html, body, .fixed {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #EEEEEE;
}
.navbar h1 {
    font-size:22px;
    float:right;
    color:#CCCCCC;
    margin-left:20px;
}

.main-container {
    margin: 60px 15px 0 15px;
}

.editor-container {
    position:relative;
    min-height:600px;
    border: 1px solid #CCCCCC;
}
    
#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size:15px;
}

.actions {
    margin-top: 20px;
    width:50%;
}
