/* header */
#header, #footer  {
    position:fixed;
    width:100%;
}

#header img{
    height:2.6em;
    float:left;
    padding:0 .1em;
}

#header span {
    float:right;
    font-size:.7em;
    padding:.2em;
}

#footer {
    bottom:0;
}

.ui-content {
    margin-top:3.5em;
}

/* login */
input[type=number] {
    width: 100px;
}
.ui-slider-track {
    margin-left: 140px;
}
.error {
    color: red;
    font-weight: bold;
}

.form-signin {
    max-width:250px;
    margin:auto;
}

/* reports */
input[type=number] {
    width: 100px;
}
.ui-slider-track {
    margin-left: 140px;
}
thead tr {
    background-color:#EEEEEE;
    font-style:italic;
    color:#444444;
}
tbody tr.tr-main {
    background-color:#FFFFFF;
}
tbody tr.tr-sub:nth-child(2n) {
    background-color:#EEEEEE;
}
tbody tr.tr-sub:nth-child(2n+1) {
    background-color:#DDDDDD;
}
button.btn-small {
    margin:0;padding:5px;width:auto;
}
.icon-info {
    padding:0 6px;color:#FFF;background-color:#38C;border:2px solid transparent;border-radius:50%;font-weight:normal;font-family:Times;font-size:.8em;vertical-align:top;
}
