{{define "home"}}
<html>
    <head>
        <title>AMIGO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{.Context.static}}/css/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" href="{{.Context.static}}/css/custom.css"/>
        <script src="{{.Context.static}}/js/jquery-1.11.1.min.js"></script>
        <script src="{{.Context.static}}/js/jquery.mobile-1.4.5.min.js"></script>
    </head>
    <body>
        <div data-role="page">
            <div id="header" data-role="header">
              <h1>AMIGO</h1>
            </div>
            <div role="main" class="ui-content">
                TBW
            </div>
            <div id="footer" data-role="footer">
                <h5>Powered by Out Of Pluto</h5>
            </div>
        </div>
    </body>
</html>
{{end}}
